# Exam 1 review Guide

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
views = [1166,872,809,794,634,458,450,422,414,410]
df = pd.DataFrame(views)
df.describe()

                0
count    10.00000
mean    642.90000
std     258.94077
min     410.00000
25%     429.00000
50%     546.00000
75%     805.25000
max    1166.00000

In [4]:
np.var(views)

60345.29

# lsr 9