In [17]:
import pandas as pd
import csv
import numpy as np
import networkx as nx
df = pd.read_csv('data/PA2_weighted.csv')

In [18]:
df.head()

   fromNodeId  toNodeId  weight
0           0         1       9
1           0      6309       9
2           0      6353      40
3           1         0      10
4        6353         0       7

In [19]:
cols = ['fromNodeId', 'toNodeId']
df[cols] = np.sort(df[cols].values, axis=1)
df = df.drop_duplicates(subset = cols)

In [20]:
df.head()

   fromNodeId  toNodeId  weight
0           0         1       9
1           0      6309       9
2           0      6353      40
5        6353      6354      23
6        6353      6364      15

In [23]:
df.to_csv('data/weightedRoad.csv', index=False)