In [15]:
from itertools import combinations
from operator import itemgetter
import pandas as pd
from time import time

support_count=3

In [16]:
data = pd.read_csv('data/transactionList.csv')
data = data.dropna(axis='columns')
data.head()

Empty DataFrame
Columns: []
Index: [(2, 17, 16, 13, 6, 9, 5, 11, 3, 7), (16, 12, 1, 6, 0, 8, 17, 2, 15, 3), (5, 12, 2, 16, 13, 6, 10, 3, 4, 0), (17, 11, 15, 12, 0, 7, 4, 18, 14, 5), (3, 9, 19, 12, 18, 5, 4, 13, 2, 15)]

In [29]:

single_items = data[axis='columns'].apply(pd.value_counts).sum(axis=1).where(lambda value: value > support_count)
single_items.shape

SyntaxError: invalid syntax (<ipython-input-29-bff7cc3b89ca>, line 1)