# Project 3 - Preliminary Sales Data
### William Pulkownik

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#get dataframe
df = pd.read_csv('data/SalesData.csv')

In [9]:
df.head()

  Store       Date  Sales
0     A   6/3/2019     61
1     B   6/3/2019     49
2     C   6/3/2019     77
3     A  6/10/2019     63
4     B  6/10/2019     50

In [16]:
df.groupby('Store').describe()

      Sales
      count       mean        std   min   25%   50%   75%   max
Store
A      17.0  61.470588  11.683951  32.0  62.0  64.0  66.0  81.0
B      17.0  60.882353   9.040757  49.0  53.0  58.0  69.0  76.0
C      17.0  69.588235   6.403698  61.0  63.0  68.0  76.0  79.0

In [14]:
df['B'] = list([df['Store']=='B']['Sales'])


df.plot(y='', x='Date')

plt.title('Store B Performance')

ValueError: Length of values does not match length of index