## Project 5: Launching a Successful Kickstarter

In [1]:
# Imports pandas, which lets us use Data Frames. 
import pandas as pd

# Imports plotting functionality.
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# We need this for our simulations. 
import numpy as np
import scipy.stats as stats

In [2]:
# Imports our data from 'train.csv' in the 'data' folder. 
kickstarters = pd.read_csv('data/kickstarter.csv')

# .head(10) shows the first ten entries of a data frame by default. 
kickstarters.head(10)

C:\Users\msmith42\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,category,state,backers,country,usd pledged,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Publishing,failed,0,GB,0,NaN,NaN,NaN,NaN
1,Film & Video,failed,3,US,220,NaN,NaN,NaN,NaN
2,Music,failed,1,US,1,NaN,NaN,NaN,NaN
3,Film & Video,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,Food,successful,224,US,52375,NaN,NaN,NaN,NaN
5,Food,successful,16,US,1205,NaN,NaN,NaN,NaN
6,Food,failed,40,US,453,NaN,NaN,NaN,NaN
7,Design,canceled,58,US,8233,NaN,NaN,NaN,NaN
8,Film & Video,canceled,43,US,6240.57,NaN,NaN,NaN,NaN
9,Publishing,failed,0,CA,0,NaN,NaN,NaN,NaN

In [3]:
columns_to_change = {'backers', 'usd pledged'}
for col in columns_to_change:
    kickstarters[col] = pd.to_numeric(kickstarters[col], errors='coerce')
    
del kickstarters['Unnamed: 5']
del kickstarters['Unnamed: 6']
del kickstarters['Unnamed: 7']
del kickstarters['Unnamed: 8']

#kickstarters.dropna(inplace=True)

In [4]:
# Question 1 - Pick a category from the below list that sounds interesting to you!
kickstarters['category'].value_counts().head(15)

Film & Video    57679
Music           46744
Publishing      34233
Games           28008
Technology      26128
Art             23975
Design          23872
Food            21229
Fashion         18398
Theater          9972
Photography      9680
Comics           8753
Crafts           7187
Journalism       4073
Dance            3375
Name: category, dtype: int64

In [5]:
# Question 2 - Change the category to the one you chose!
my_category = kickstarters[kickstarters.category == 'Fiction']
len(my_category)

35

In [6]:
numerator = len(my_category[my_category.state == 'successful'])

In [7]:
# Question 3
numerator/len(my_category)

0.0

In [8]:
# Set-up for Question 4
my_category['state'].value_counts()

0         8
10        2
65        2
35        2
85        1
40        1
1753      1
8         1
2312      1
3065.7    1
38        1
1322      1
95        1
63.01     1
46        1
36        1
15        1
37        1
1731      1
650       1
150       1
178       1
505       1
6         1
21        1
Name: state, dtype: int64